
.day{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #dae2f1;
    border: 1px solid black;
    border-radius: 15px;
    width: 225px;
    height: 300px;
    box-shadow: inset 5px 5px 6px #ffffff, inset -5px -5px 6px #5d5d5d;
    h2{
        font-size: 14px;
        padding: 10px 10px 5px 10px;
    }
    p{
        font-size: 10px;
        padding: 5px 10px 10px 10px;
    }
    .ImgDiv{
        overflow: hidden;
        height: 180px;
        img{
            width: 100%;
        }
    }
    a{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        color: black;
        border: 1px solid #717171;
        border-radius: 15px;
        box-shadow: inset 5px 5px 6px #ffffff, inset -5px -5px 6px #5d5d5d;
    }
}
